[user]
	name = Björn Steffen
	email = bjoern.steffen@inf.ethz.ch
[core]
	editor = emacsclient
	excludesfile = ~/Library/dotfiles/gitignore_global
[color]
	ui = true
[alias]
	l = log --decorate --graph --all --oneline
 	ln = log --decorate --graph --all --pretty=format':%C(yellow)%h%C(blue)%d%Creset %s %C(white) %an, %ar%C(reset)%n'
	ll = log --graph --all  --abbrev-commit --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(bold white)— %an%C(reset)%n'
	s = status -s -b
	b = !~/Library/bin/gbrt.sh
	co = checkout
[diff]
	tool = ediff
        guitool = ediff

[difftool "ediff"]
        cmd = ~/Library/dotfiles/ediff.sh $LOCAL $REMOTE $MERGED

[merge]
        tool = ediff

[mergetool "ediff"]
        cmd = ~/Library/dotfiles/ediff.sh $LOCAL $REMOTE $MERGED $BASE
        trustExitCode = true

[push]
	default = simple
